<!-- <ea-one></ea-one>
<app-four></app-four>
<ea-like [hobbiesArrFromParent]="hobbies" [dataFromParent]="postLikeObj" [isLike] ='false' (SendToParent)= "catchedLikedData($event)"></ea-like>

<h1>App.Component.HTML</h1>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <table class="table table-bordered">
                <tr>
                    <td *ngFor="let i of myInfo">{{i}}</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->
<!-- <app-assignment2-b></app-assignment2-b> -->
<!-- <app-chart-formation></app-chart-formation> -->
<!-- <app-accordiant></app-accordiant> -->
<app-product-task></app-product-task>
<!-- <app-count-controller></app-count-controller> -->
<!-- <app-five></app-five> -->
